VITE_CHAIN_RPC_URL=http://127.0.0.1:8545
VITE_PAPER_REGISTRY_ADDRESS=0xYourPaperRegistryAddress
VITE_READER_INTERACTIONS_ADDRESS=0xYourReaderInteractionsAddress
VITE_REVIEW_MANAGER_ADDRESS=0xYourReviewManagerAddress
VITE_TOP_UP_TREASURY_ADDRESS=0xYourTreasuryWalletAddress
VITE_TOP_UP_PRICE_WEI_PER_DST=1000000000000000
VITE_IPFS_GATEWAY_URL=https://ipfs.io/ipfs
